# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
bin/manual3DRenderDebug.app
build
manual3DRender.xcodeproj/xcuserdata/*
manual3DRender.xcodeproj/project.xcworkspace/xcuserdata/*